{% extends 'base.html'%}
{% load static %}
{% block content %}
	<!-- Top Stories Area -->
	<section class="top-stories-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel active-stories-carousel">
						{% for p in latest %}
						<!-- single stories carousel -->
						<div class="single-stories-carousel d-flex align-items-center">
							<div class="stories-thumb">
								<img class="img-fluid" style="width:98px;height:70px;object-fit:cover;" src="{{p.first_image.url}}" alt="">
							</div>
							<div class="stories-details">
								<h6><a href="/post/{{p.id}}">{{p.heading}}</a></h6>
								<p>{{p.post_date |date:"d M Y"}}</p>
							</div>
						</div>{% endfor %}
					
					
						
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Stories Area -->

	<!-- Start Post Silder Area -->
	<section class="post-slider-area">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="owl-carousel active-post-carusel">
						{% for post in mainp %}
						<!-- single carousel item -->
						<div class="single-post-carousel">
							<div class="post-thumb">
								<img class="img-fluid" src="{{ post.first_image.url }}" alt="">
							</div>
							<div class="post-details">
								<h2><a href="/post/{{post.id}}/">{{post.heading}}</a></h2>
								<div class="post-content d-flex justify-content-between">
									<div class="post-meta">
										<div class="thumb"><img style="width:50px;height:50px;border-radius:25px;object-fit:cover;" src="{{post.writer.ProfilePic.url }}" alt=""></div>
										<div class="c-desc">
											<h6>{{post.writer.name}}</h6>
											<p><span class="lnr lnr-calendar-full"></span>{{post.post_date |date:"d M Y"}}</p>
										</div>
									</div>
									<div class="details">
										<p>{{post.meta}}</p>
									</div>
								</div>
							</div>
						</div>
                       {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Start Post Silder Area -->

	<!-- Start main body Area -->
	<div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">
							{% for p in cat %}
							<div class="col-lg-6 col-md-6">
								<div class="single-post-item">
									<div class="post-thumb">
										<img class="img-fluid" src="{{p.first_image.url}}" alt="">
									</div>
									<div class="post-details">
										<h4><a href="/post/{{p.id}}">{{p.heading}}</a></h4>
										<p>{{p.meta}}</p>
										<div class="blog-meta">
											<a href="#" class="m-gap"><span class="lnr lnr-calendar-full"></span>{{p.post_date|date:"F j Y"}}</a>
											<a href="#" class="m-gap"><span class="lnr lnr-bubble"></span>05</span></a>
										</div>
									</div>
								</div>
							</div>
                           {% endfor %}
							
							<div class="col-lg-12">
								<nav class="blog-pagination justify-content-center d-flex">
								{% if cat.has_other_pages %}
  <ul class="pagination">
    {% if cat.has_previous %}
      <li class="page-item"><a  class="page-link" aria-label="Previous" href="?page={{ cat.previous_page_number }}"><span aria-hidden="true"><span class="lnr lnr-arrow-left"></span></span></a></li>
    {% else %}
       <li class="page-item disabled"><a  class="page-link" aria-label="Previous"><span aria-hidden="true"><span class="lnr lnr-arrow-left"></span></span></a></li>
    {% endif %}
    {% for i in cat.paginator.page_range %}
      {% if cat.number == i %}
        <li class=" page-item active"><a class="page-link" href="?page={{ i }}">{% if i < 10 %}0{% endif %}{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{% if i < 10 %}0{% endif %}{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if cat.has_next %}
      <li class="page-item"><a class="page-link"aria-label="Next"href="?page={{ cat.next_page_number }}"><span aria-hidden="true"><span class="lnr lnr-arrow-right"></span></span></a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"aria-label="Next"><span aria-hidden="true"><span class="lnr lnr-arrow-right"></span></span></a></li>
    {% endif %}
  </ul>
{% endif %}
								</nav>
							</div>
						</div>
					</section>
					<!-- Start Post Area -->
				</div>


				<div class="col-lg-4 sidebar">
					{% for w in writer %}
					<div class="single-widget protfolio-widget">
						<img class="img-fluid" style="width:100%;height:300px;object-fit:cover;" src="{{w.ProfilePic.url}}" alt="">
						<a href="#">
							<h4>{{w.name}}</h4>
						</a>
						<p class="p-text">
							{{w.bio}}
						</p>
						<ul class="social-links">
							<li><a href="https://www.facebook.com/Gagan-Singh-446439722426559/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/_webmash"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com/gagan_sapora/"><i class="fa fa-instagram"></i></a></li>
						
						</ul>
					</div>
                    {% endfor %}
					<div class="single-widget popular-posts-widget">
						<div class="jq-tab-wrapper" id="horizontalTab">
							<div class="jq-tab-menu">
								<div class="jq-tab-title active" data-tab="1">Popular</div>
								<div class="jq-tab-title" data-tab="2">Latest</div>
							</div>
							<div class="jq-tab-content-wrapper">
								<div class="jq-tab-content active" data-tab="1">
									{% for p in popular%}
									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" style="width:98px;height:70px;object-fit:cover;" src="{{p.first_image.url}}" alt="">
										</div>
										<div class="popular-details">
											<h6><a href="/post/{{p.id}}/">{{p.heading}}</a></h6>
											<p>{{p.post_date |date:"d M Y"}}</p>
										</div>
									</div>
								    {% endfor %}
								</div>

								<div class="jq-tab-content active" data-tab="2">
                                   {% for p in latest %}
									<div class="single-popular-post d-flex flex-row">
										<div class="popular-thumb">
											<img class="img-fluid" style="width:98px;height:70px;object-fit:cover;" src="{{p.first_image.url}}" alt="">
										</div>
										<div class="popular-details">
											<h6><a href="/post/{{p.id}}/">{{p.heading}}</a></h6>
											<p>{{p.post_date |date:"d M Y"}}</p>
										</div>
									</div>
									  {% endfor %}
									
								</div>
							</div>
						</div>
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Post Categories</h4>
						<ul>
							{% for c in catt %}
							<li>
								<a href="/category/{{c.text}}" class="justify-content-between align-items-center d-flex">
									<p><img src="{%static 'img/bullet.png' %}" alt="">{{c.text}}</p>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>

					<div class="single-widget tags-widget">
						<h4 class="title">Post Tags</h4>
						<ul>
						{% for c in tag %}
							<li><a href="/post_tags/{{c.text}}">{{c.text}}</a></li>
							
						{% endfor%}
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Start main body Area -->

	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6 class="footer_title">About Us</h6>

						<p>{% for p in a %}{{p.text}}{% endfor %}</p>
					</div>
				</div>
			
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget f_social_wd">
						<h6 class="footer_title">Follow Us</h6>
						<p>Let us be social</p>
						<div class="f_social">
							<a href="https://www.facebook.com/webmashsapora/"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/_webmash"><i class="fa fa-twitter"></i></a>
							<a href="https://www.instagram.com/_webmash/"><i class="fa fa-instagram"></i></a>
							<a href="https://in.pinterest.com/webmashsapora/"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>
		<div class="row footer-bottom d-flex justify-content-between align-items-center">
				<p class="col-lg-12 footer-text text-center">
Copyright &copy;2019-<script>document.write(new Date().getFullYear());</script> All rights reserved |Sapora inc.<span style="display: none;"> This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	
{% endblock %}